.modal-container{
    position: absolute;
    top: 0;
    z-index: 2;
    /*left:  auto;
    */margin-left: 0rem;
    width: 74%;
    height: 100vh;
    max-width:100%;
    
    background-color: #0000007c;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.modal-content{
    width: 35%;
    margin-inline:auto ;
    background-color: #444654;
    padding: 0.5rem 1rem;
    border: none;
    border-radius:1rem ;
    -webkit-border-radius:1rem ;
    -moz-border-radius:1rem ;
    -ms-border-radius:1rem ;
    -o-border-radius:1rem ;
    box-shadow: 0px 0px 5px 0.1px #b7b1b1;
}

.editSubmit-btn{
    background-color: #19C37D;
    color: #fff;
    width: 40%;
}

.editSubmit-btn:hover{
    box-shadow:#222 0px 0px 4px 0.5px  ;
    background-color: #1ed589;
}
.declineEdit-btn:hover{
    box-shadow:#222 0px 0px 4px 0.5px  ;
    background-color: #f04453;
}

.declineEdit-btn{
    width: 40%;
    color: #fff;
    background-color: #F22C3D;
}

.modal-title{
    text-align: center;
}

.modal-controls{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.edit-form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: left;
    text-align: left;
    /* align-items:stretch; */
}

.name-label,.birth-label,.phone-label,.role-label{
    font-weight: 600;
    font-size: 18px;
    margin:0rem ;
    margin-right:auto ;
}

.input-group{
    /* border: 1px solid; */
    /* border: 1px solid; */
    display:  flex;
    /* text-align: left; */
    gap: 0.5rem;
    align-items:center;
    /* justify-content: left; */
    padding: 0.5rem 0.5rem;
}


.name-input,.phone-input{
    background-color: #444654;
    width: 50%;
    border: none;
    text-align: center;
    border-bottom:1px solid ;
    color: #fff;
    caret-color: #fff;
    font-size:1rem ;
}
.role-input{
    background-color: #444654;
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    outline: none;
    color: #fff;
    background-color: #65687a;
    box-shadow:#222 0px 0px 4px 0.5px  ;
    cursor: pointer;
}

.birth-input{
    background-color: #65687a;
    border: none;
    box-shadow:#222 0px 0px 4px 0.5px  ;
    cursor: text;
    color: #fff;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

::-webkit-calendar-picker-indicator{
    background-color: #7c82a5;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}




