.layout {
  /* border: 1px solid; */
  width: 100%;
}

.layout-title {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
}
/* User / Candidates */
/* /////////////////////////////////////////// */
.candidates-container {
  /* border: 1px solid; */
  /* box-shadow: 0px 0px 10px 1px #646363; */
  width: 70%;
  margin: 0rem auto;
  padding: 0.5rem;
  border-radius: 0.8rem;
  height: 70%;
  max-height: 70%;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #202123;
}
.user-date {
  font-size: 1.1rem;
  color: #e7e7e7;
  margin-left: auto;
}
.yearsOld {
  font-size: 0.9rem;
}
.user-number {
  font-size: 1.1rem;
  color: #e7e7e7;
  margin-left: auto;
}
.info {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid; */
  width: 70%;
  /* margin-left:auto ; */
}
.actions {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}
.action-btn {
  padding: 0.1rem;
  cursor: pointer;
}
.action-btn:hover {
  scale: 1.1;
}
.user-li-icon {
  /* border: 1px solid; */
  padding: 4px;
  background-color: #6b6e839a;
  /* color: #444654; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.candidate {
  display: flex;
  align-items: center;
  /*justify-content: space-evenly;
    */
  width: 95%;
  cursor: pointer;
  margin-inline: auto;
  /* border: 1px solid; */
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: #4446549a;
}
.candidate:hover {
  background-color: #444654;
}

.users-container {
  text-align: center;
  width: 50%;
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  float: right;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: #202123;
  box-shadow: 0px 0px 10px 1px #433f3f;
}

.vouchEdition {
  box-shadow: 0px 0px 10px 1px #646363;
  width: 90%;
  margin: 0rem auto;
  padding: 0.5rem;
  border-radius: 0.8rem;
  max-height: 70%;
  height: 60vh;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #202123;
}

.filter-container {
  /*border: 1px solid;
  */
  width: 70%;
  text-align: center;
  margin: 0 auto;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: #202123;
  height: 4rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-evenly;
}
.search-container {
  /* border: 1px solid; */
  display: flex;
  align-items: center;

  justify-content: space-around;
}
.search-input {
  width: 90%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  color: gray;
}

.search-title {
  font-size: 1.2rem;
  text-align: left;
}
.filterOrSort-containers {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.filter-title {
  font-size: 1.2rem;
}
.filter-select {
  background-color: #444654;
  color: #fff;
  border: none;
  padding: 0.1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  font-size: 1rem;
}
.filter-option {
  border-bottom: 1px solid gray;
}

/* //////////////////////////////////////////////////////// */
/* Events */

.event-widget {
  /* border: 1px solid; */
  box-shadow: 0px 1px 4px 2px #222;
  width: 40%;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem auto;
  background-color: #202123ae;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.event-controls {
  display: flex;
  gap: 0.5rem;
}

.eventCreate-btn,
.eventCancel-btn {
  color: #fff;
  width: 40%;
  font-size: 1.1rem;
}

.eventCreate-btn {
  background-color: #19c37d;
}
.eventCancel-btn {
  background-color: #f22c3d;
}

.eventCreate-btn:hover {
  box-shadow: #222 0px 0px 4px 0.5px;
  background-color: #1ed589;
}
.eventCancel-btn:hover {
  box-shadow: #222 0px 0px 4px 0.5px;
  background-color: #f04453;
}

.event-input {
  background-color: #65687b;
  color: #fff;
  border: none;
  outline: none;
  width: 50%;
}
.event-label {
  text-align: center;
  width: 100%;
  margin: 0;
  margin-top: 1rem;
  font-size: 1.2rem;
  /* border: 1px solid; */
}

.active-events-container {
  margin: 2rem auto;
  width: 40%;
  height: 80%;
  padding: 0.3rem 0.8rem;
  border-radius: 1rem;
  background-color: #202123;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  text-align: center;
}

.container-title {
  text-align: center;
  font-size: 1.4rem;
  scale: 1.2;
  /* font-weight: 900; */
}

.active-events-content {
  width: 100%;
  height: 75%;
  background-color: #444654;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  /* text-align: center; */
  padding: 0.2rem 0rem;
  overflow-y: auto;
}

::-webkit-scrollbar {
  background-color: #65687b;
  color: #19c37d;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #7688aa;
  width: 15px;
  border-radius: 1rem;

  height: 2%;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.createEvent-btn {
  background-color: #19c37d;
  color: #fff;
  width: 50%;
  max-height: 3rem;
}

.createEvent-btn:hover {
  background-color: #1ed589;
}

.event-block {
  /* border: 1px solid; */
  box-shadow: 0px 1px 4px 1px #222;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  width: 95%;
  margin: 0.2rem auto;
  background-color: #65687b;
}
.event-li-title {
  display: block;
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
  top: 0.5rem;
  /* border: 1px solid; */
  width: fit-content;
  margin-inline: auto;
  font-size: 1.6rem;
}
.date-block {
  /* border: 1px solid; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.date-container {
  /*border: 1px solid;
  */
  padding: 0rem 0.5rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  background-color: #19c37c96;
  box-shadow: 0px 1px 4px 0.5px #222;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.exp {
  background-color: #f22c3d77;
}

.date-label {
  font-weight: 600;
  font-size: 1rem;
}
.date-value {
  font-weight: 600;
  font-size: 1rem;
}

.removeEvent {
  color: red;
  cursor: pointer;
  position: relative;
  top: 0.5rem;
  /* right: 0; */
  float: right;
  translate: -30%;
}
/* //////////////////////// */
/* Agree Modal */
.hidden {
  display: none;
}

.overflow {
  position: absolute;
  width: 75%;
  height: 100vh;
  top: 0;
  background-color: #202123b0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agreeModal {
  border: 0px solid;
  width: 30%;
  text-align: center;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #444654;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0px 0px 10px 1px #222;
}

.agree-controls {
  display: flex;
  gap: 1rem;
}

.agree-btn,
.disagree-btn {
  width: 40%;
  color: #fff;
  font-size: 1rem;
}

.agree-btn {
  background-color: #19c37d;
}
.disagree-btn {
  background-color: #f22c3d;
}

.disagree-btn:hover {
  background-color: #f04453;
}
.agree-btn:hover {
  background-color: #1ed589;
}
/* ///////////////////////////////////// */
/* Vouchers */

.active {
  background-color: #19c37d;
}

.vouchers-form {
  box-shadow: 0px 0px 10px 1px #433f3f;
  width: 40%;
  height: 55%;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: #202123;
}

.createVouchers-layout {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}


@media(max-width:320px){
    .layout{
      width: 90%;
      /* border: 1px solid; */
    }
    .layout-title{
      font-size: 1.4rem;
    }

    .candidates-container{
    width: 90%;
    height: 60%;
    margin:0 auto ;
  }
  .candidate{
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
    /* gap: -1rem; */
    height:5rem ;
    padding: 0;

  }
  .user-li-icon{
    display: none;
  }
  .name{
    font-size: 1.2rem;
  }
  .user-number{
    font-size: 1rem;

  }
  .info{
    position: relative;
    bottom: -0.5rem;
    width: 99%;
    /*border: 1px solid;
    *//*border: 1px solid;
    */height: fit-content;
    padding: 0;
    margin: -0.5rem auto;
    transform:translateY(-1rem) ;
    -webkit-transform:translateY(-1rem) ;
    -moz-transform:translateY(-1rem) ;
    -ms-transform:translateY(-1rem) ;
    -o-transform:translateY(-1rem) ;
}

  .action-btn{
    font-size: 0.5rem;
    scale: 0.85;
    position: relative;
    /* top: -1rem; */
    /* margin-bottom: 3rem; */
  }

  .filter-container{
    /* border: 1px solid; */
    width: 90%;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
    /* justify-content: space-between; */
  }

  .search-container{
    width: 4.5rem;
    margin-left: 0.8rem;
    margin-right:auto ;
  }
  .filterOrSort-containers{
    flex-direction: column;
    width: 25%;
    /* border: 1px solid; */
  }
  .filter-title{
    font-size: 1rem;
  }

  .filter-select{
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
  }
  .search-input{
    width: 4.5rem;
  }

  .active-events-container{
    width: 85%;
  }
  .createEvent-btn{
    margin: 0.5rem auto;
    width: 70%;
  }
 
  .date-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 3rem;
    gap: 0;
    font-size: 1rem;
    margin:0 ;
    /* border: 1px solid; */
  }
  .date-label{
    display: none;
  }
  .date-value{
    margin: auto;
  }
  .createVouchers-layout{
    flex-direction: column;
    gap: 0.1rem;
  }
  .users-container{
    /* border: 1px solid; */
    width: 100%;
    height: 18rem;
    padding: 0 0.1rem;
  }
  .vouchers-form{
    width: 95%;
    height: 20rem;
    margin: 0 auto;
    /* gap: 0.5rem; */
  }
  .vouchEdition{
    height: 50%;
    box-shadow: none;
    margin: 0 auto;
  }
  .chooseAll{
    margin: 0 auto;
  }

  .event-widget{
    width: 80%;
  }
}
@media(min-width:320px) and (max-width:380px){
    .layout{
      width: 90%;
      /* border: 1px solid; */
    }
    .layout-title{
      font-size: 1.4rem;
    }

    .candidates-container{
    width: 90%;
    height: 60%;
    margin:0 auto ;
  }
  .candidate{
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
    /* gap: -1rem; */
    height:5rem ;
    padding: 0;

  }
  .user-li-icon{
    display: none;
  }
  .name{
    font-size: 1.2rem;
  }
  .user-number{
    font-size: 1rem;

  }
  .info{
    position: relative;
    bottom: -0.5rem;
    width: 99%;
    /*border: 1px solid;
    *//*border: 1px solid;
    */height: fit-content;
    padding: 0;
    margin: -0.5rem auto;
    transform:translateY(-1rem) ;
    -webkit-transform:translateY(-1rem) ;
    -moz-transform:translateY(-1rem) ;
    -ms-transform:translateY(-1rem) ;
    -o-transform:translateY(-1rem) ;
}

  .action-btn{
    font-size: 0.5rem;
    scale: 0.85;
    position: relative;
    /* top: -1rem; */
    /* margin-bottom: 3rem; */
  }

  .filter-container{
    /* border: 1px solid; */
    width: 90%;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
    /* justify-content: space-between; */
  }

  .search-container{
    width: 4.5rem;
    margin-left: 0.8rem;
    margin-right:auto ;
  }
  .filterOrSort-containers{
    flex-direction: column;
    width: 25%;
    /* border: 1px solid; */
  }
  .filter-title{
    font-size: 1rem;
  }

  .filter-select{
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
  }
  .search-input{
    width: 4.5rem;
  }

  .active-events-container{
    width: 85%;
  }
  .createEvent-btn{
    margin: 0.5rem auto;
    width: 70%;
  }
 
  .date-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 3rem;
    gap: 0;
    font-size: 1rem;
    margin:0 ;
    /* border: 1px solid; */
  }
  .date-label{
    display: none;
  }
  .date-value{
    margin: auto;
  }
  .createVouchers-layout{
    flex-direction: column;
    gap: 0.1rem;
  }
  .users-container{
    /* border: 1px solid; */
    width: 100%;
    height: 18rem;
    padding: 0 0.1rem;
  }
  .vouchers-form{
    width: 95%;
    height: 20rem;
    margin: 0 auto;
    /* gap: 0.5rem; */
  }
  .vouchEdition{
    height: 50%;
    box-shadow: none;
    margin: 0 auto;
  }
  .chooseAll{
    margin: 0 auto;
  }

  .event-widget{
    width: 80%;
  }
}
@media(min-width:380px) and (max-width:430px){
    .layout{
      width: 90%;
      /* border: 1px solid; */
    }
    .layout-title{
      font-size: 1.4rem;
    }

    .candidates-container{
    width: 90%;
    height: 60%;
    margin:0 auto ;
  }
  .candidate{
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
    /* gap: -1rem; */
    height:5rem ;
    padding: 0;

  }
  .user-li-icon{
    display: none;
  }
  .name{
    font-size: 1.2rem;
  }
  .user-number{
    font-size: 1rem;

  }
  .info{
    position: relative;
    bottom: -0.5rem;
    width: 99%;
    /*border: 1px solid;
    *//*border: 1px solid;
    */height: fit-content;
    padding: 0;
    margin: -0.5rem auto;
    transform:translateY(-1rem) ;
    -webkit-transform:translateY(-1rem) ;
    -moz-transform:translateY(-1rem) ;
    -ms-transform:translateY(-1rem) ;
    -o-transform:translateY(-1rem) ;
}

  .action-btn{
    font-size: 0.5rem;
    scale: 0.85;
    position: relative;
    /* top: -1rem; */
    /* margin-bottom: 3rem; */
  }

  .filter-container{
    /* border: 1px solid; */
    width: 90%;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem;
    /* justify-content: space-between; */
  }

  .search-container{
    width: 4.5rem;
    margin-left: 0.8rem;
    margin-right:auto ;
  }
  .filterOrSort-containers{
    flex-direction: column;
    width: 25%;
    /* border: 1px solid; */
  }
  .filter-title{
    font-size: 1rem;
  }

  .filter-select{
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
  }
  .search-input{
    width: 4.5rem;
  }

  .active-events-container{
    width: 85%;
  }
  .createEvent-btn{
    margin: 0.5rem auto;
    width: 70%;
  }
 
  .date-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 3rem;
    gap: 0;
    font-size: 1rem;
    margin:0 ;
    /* border: 1px solid; */
  }
  .date-label{
    display: none;
  }
  .date-value{
    margin: auto;
  }
  .createVouchers-layout{
    flex-direction: column;
    gap: 0.1rem;
  }
  .users-container{
    /* border: 1px solid; */
    width: 100%;
    height: 18rem;
    padding: 0 0.1rem;
  }
  .vouchers-form{
    width: 95%;
    height: 20rem;
    margin: 0 auto;
    /* gap: 0.5rem; */
  }
  .vouchEdition{
    height: 50%;
    box-shadow: none;
    margin: 0 auto;
  }
  .chooseAll{
    margin: 0 auto;
  }

  .event-widget{
    width: 80%;
  }
}