.custom-button {
  position: relative;
  width: 40rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
  height: 5rem;
  top: 80%;
  border: 2px solid #d2b56d;
  color: antiquewhite;
  z-index: 2;
  background-color: #d2b56d78;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: #4f4e4e 0px 0px 5px 2px ;
  
}

.btn-left{
    right: 35%;
}
.center{
    width: 100%;
    right: 20%;
}



.custom-button:hover {
  background-color: #d2b56d44;
  box-shadow: #d2b56d 0px 0px 5px 2px ;
}


@media (max-width: 320px) {
  .custom-button {
    width: 90%;
    top: 75%;
    left: -20%;
    height: 3rem;
    padding: 0rem 1rem;
    font-size: 0.9rem;
   
}

  .btn-left{
    left: -30%;
  }
  .center {
    right: 0;
  }
  
}

@media (min-width: 321px) and (max-width: 375px) {
  .custom-button {
    width: 100%;
    font-size: 2.2rem;
  }

  .btn-left,
  .center {
    right: 0;
  }

  
}

@media (min-width: 375px) and (max-width: 425px) {
  .custom-button {
    width: 100%;
    padding: 0.1rem 0.8rem;
    top: 80%;
    font-size: 1rem;
    height: 3.5rem;
    left: -30%;
  }

  .btn-left,
  .center {
    right: 0;
  }
  
}

@media (min-width: 425px) and (max-width: 768px) {
    .custom-button {
        width: 80%;
        padding: 0.1rem 0.8rem;
        top: 80%;
        font-size: 1.1rem;
        height: 4rem;
        left: -10%;
    }
   

  .btn-left {
    right: -50%;
  }

  .center {
    width: 100%;
    right: 15%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .custom-button {
    width: 60%;
    bottom: -65%;
  }

  .btn-left {
    right: 50%;
  }

  .center {
    width: 100%;
    right: 10%;
  }
}