.footer{
    height: 50vh;
    text-align: center;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon-container{
    justify-content: space-around;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    gap: 2rem;
}

.social-icon{
    margin-left:3rem ;
}
.link-label{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    width: 100%;
    /* border: 1px solid; */
    text-align: center;
    
}

#youtube:hover{
    color: rgb(236, 50, 50);
    scale: 1.1;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
#instagram:hover{
    color: wheat;
    scale: 1.1;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
#facebook:hover{
    color: rgb(67, 38, 229);
    scale: 1.1;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}