.controls{
    display: flex;
    width: 30%;
    /* border: 1px solid #fff; */
    margin:0.5rem auto ;
}
.btn-choose{
    width: 10rem;
    color: aliceblue;
    background-color: rgba(128, 128, 128, 0.252);
    border: 1px solid grey;
}

.btn-choose:hover{
    background-color: #b1b1b19a;
}

.voucher-title{
   font-size: 2.2rem;
   scale: 1.5; 
   text-align: center;
}
.alert{
    font-size: 1.8rem;
    text-align: center;
    /* margin:auto 2rem; */
    translate: -50%,50%;
    
}
.alert-container{
    /* border: 1px solid; */
text-align: center;
}
.explaining{
    font-size: 1.4rem;
    color: rgb(174, 173, 173);
}