.landing-vouchers,.landing-events{
    /* border: 1px solid; */
    height: 100vh;
    text-align: center;
    background-image: url(../images/wood01.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.usedVoucher{
    position: absolute;
    /* border: 1px solid; */
    width: 85%;
    height: 70vh;
    z-index: 1;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.526);
    cursor: not-allowed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.usedVoucher-title{
    font-weight:600;
    font-size:8rem ;
    text-transform: uppercase;
    letter-spacing: 1rem;
    rotate: -25deg;
    scale: 1.5;
    color: rgb(226, 71, 71);
}

.land-V-title{
    position: relative;
    font-weight: 900;
    
    font-size: 7rem;
    text-shadow: 0px 4px 2px #222;
}

.down-arrow{
    position: relative;
    bottom: 0;
    font-weight: 900;
    font-size: 4rem;
    top: 20%;
    animation: arrow 1s infinite alternate;
    -webkit-animation: arrow 1s infinite alternate;
}

@keyframes arrow {
    from{
        translate: 0, 0;
    }
    to{
        transform: translateY(3rem);
        -webkit-transform: translateY(3rem);
        -moz-transform: translateY(3rem);
        -ms-transform: translateY(3rem);
        -o-transform: translateY(3rem);
    }
}

.voucher,.event{
    text-align: center;
    margin: 1rem;
    height: 70vh;
    width: 85%;
    margin-inline: auto;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 0px 2px 4px 1px grey;
    text-shadow: 0px 4px 2px #222;
}

.btn-vouch{
    position: relative;
    top: 40%;
    width: 15rem;
    border-radius: 1.5rem;
    border: 0.3rem solid #fff;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    background: none;
    color: #fff;
    box-shadow: #fff 0px 0px 5px 2px;
    margin-inline: auto;
}
.btn-vouch:hover{
    background-color: #ffffff17;
}

.date{
    text-shadow: 0px 4px 2px #222;
    font-weight: 600;
    font-size: 2rem;
    margin-top:20% ;
}

.vouch-title,.event-title{
    position: relative;
    text-transform: uppercase;
    top: 25%;
    font-size: 4rem;
}

.one{
    background-image: url(../images/wood02.png);
    background-size: cover;
    background-position: center;
}
.two{
    background-image: url(../images/wood03.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 0.5rem;
}

@media (max-width: 320px) {
 .btn-vouch{
    width: 70%;
    font-size: 1.2rem;
 }
 .vouch-title,.event-title{
    font-size: 2rem;
 }
 .voucher,.event,.usedVoucher{
    height: 65vh;
    width: 90%;
 }
 .land-V-title{
    font-size: 4rem;
 }

.date{
    margin-top: 50%;
} 
.usedVoucher-title{
    font-size: 3rem;
    rotate: -45deg;
}
}

@media (min-width: 321px) and (max-width: 376px) {
  .btn-vouch{
    width: 70%;
    font-size: 1.2rem;
 }
 .vouch-title,.event-title{
     font-size: 2.2rem;
    }
    .voucher,.event,.usedVoucher{
        height: 70vh;
        width: 85%;
    }
 .land-V-title{
    font-size: 4.5rem;
 }
 
 .date{
     margin-top: 50%;
 } 
 .usedVoucher-title{
    font-size: 4rem;
    rotate: -45deg;
}
 
}

@media (min-width: 376px) and (max-width: 426px) {
.btn-vouch{
    width: 70%;
    font-size: 1.4rem;
 }
 .vouch-title,.event-title{
    font-size: 2.2rem;
 }
/* .event-title{
    font-size: 1rem;
} */


 .voucher,.event,.usedVoucher{
    /* height: 65vh; */
    width: 90%;
 }
 .land-V-title{
    font-size: 5rem;
 }
 .date{
     margin-top: 50%;
 } 
 .usedVoucher-title{
    font-size: 5rem;
    rotate: -45deg;
}
  
}



 

